body {
  background-color: #2d2d2d;
  color: white;
}

.container {
  background-color: #494949;
}

.my-paragraph-style-1 {
  background-color: #383838;
}

.my-paragraph-style-2 {
  background-color: #c13333;
}

.my-paragraph-style-1:hover {
  background-color: #21b54b;
  cursor: pointer;
}

.my-paragraph-style-2:hover {
  background-color: #216bb5;
  cursor: pointer;
}